@model Ecommerce.Models.ViewModels.InventoryViewModel
@{
    ViewData["Title"] = "Administracion de Existencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _add = "sum";
    string _decrease = "rest";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<hr class="text-danger" />
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card" style="width:1250px;">
                <div class="card-header">
                    <div class="row-sm-12 row-md-2"><h4>Almacen confirmado!</h4></div>
                    <hr />
                    <div class="row-sm-12 row-cols-md-10 float-end">
                        <div class="d-flex justify-content-around gap-2">
                            <button id="btnLines" class="btn btn-sm btn-outline-primary" style="width:200px;"><i class="bi bi-node-plus-fill"></i> Lineas</button>
                            <a asp-action="Index" class="btn btn-sm btn-outline-success" style="width:200px;"><i class="bi bi-arrow-return-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
                <hr class="text-danger" />
                <div class="card-body">
                    <form method="post">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="Inventory!.IdInventory" name="IdInventory" />
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3"></div>
                                <div class="col-sm-12 col-md-6 col-lg-6,col-xl-6">
                                    <div class="d-flex justity-content-center">
                                        <div class="container">
                                            <div class="row">
                                                <label class="form-label text-center">Almacen Donde se cargara la existencia</label>
                                            </div>
                                            <div class="row">
                                                <div class="d-flex justify-content-around">
                                                    <h5 class="text-center text-success"><label class="form-label">@Model.Inventory.Stores.Name &nbsp;@Model.Inventory.Stores.Description </label></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-3"></div>
                            </div>
                            <hr class="text-danger" />
                            <!--Campos para agregar detalle de inventarios o cargas de inventario-->
                            <section class="card-footer" id="detailsProductosForm">
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-danger" />
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-1"></div>
        <div class="col col-sm-12 col-md-12 col-lg-10">
            <table id="tblProductDetails" class="table table-striped border table-hover">
                <thead class="thead-dark">
                    <tr class="table-secondary thead-dark text-center">
                        <th>Producto</th>
                        <th>Marca</th>
                        <th>Costo</th>
                        <th>Stock</th>
                        <th>Cantidad</th>
                        <th>Sumar/Restar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetailsInventoryList)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(d=> item.Product.Description)</td>
                            <td>@Html.DisplayFor(d => item.Product.Brand.Name)</td>
                            <td>@Html.DisplayFor(d => item.Product.CostPrice)</td>
                            <td>@Html.DisplayFor(d => item.LastStock)</td>
                            <td>@Html.DisplayFor(d => item.Quantity)</td>
                            <td>
                                <div class="dflex justify-content-around">
                                    <a class="btn btn-outline-success" asp-controller="Inventory" asp-action="UpDownQuantity"
                                       asp-all-route-data='new Dictionary<string, string> { { "operation", _add }, { "id", item.IdDetailsIventory.ToString() } }'>
                                        <i class="bi bi-plus-square"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" asp-action="UpDownQuantity" asp-all-route-data='new Dictionary<string, string> { { "operation", _decrease }, { "id", item.IdDetailsIventory.ToString() } }'><i class="bi bi-dash-square-dotted"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            @if (Model.DetailsInventoryList.Count() > 0)
                            {
                                <div class="row-cols-4">
                                    <a asp-action="CreateStock" asp-route-id="@Model.Inventory.IdInventory" class="btn btn-outline-warning fw-bolder">Crear Stock</a>
                                </div>
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col col-sm-12 col-md-12 col-lg-1"></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/DetailsInventoryFunctions.js" type="text/javascript"></script>
}



