
@model Ecommerce.Models.ViewModels.TransactionsViewModel
@using Ecommerce.BLL.Notifications
@{
    ViewData["Title"] = "Reporte de Transacciones por Producto";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Reporte Transacciones</title>
    <link rel="shortcut icon" href="~/images/main/icono.ico" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="div">
                    <h1 class="text-center text-white">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <hr class="text-danger" />
        <div class="row">
            <div class="card bg-transparent">
                <div class="card-header">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-around gap-4">
                            <h5>Transaciones registradas</h5>
                            <div class="bg-info bg-opacity-25 rounded rounded-3 text-center" style="min-width:160px;">
                                <strong>Desde: </strong>
                                @Model.StartDate.ToString("dd-MMM-yyyy");
                            </div>
                            <div class="bg-info bg-opacity-25 rounded rounded-3 text-center" style="min-width:160px;">
                                <strong>Hasta: </strong>
                                @Model.EndDate.ToString("dd-MMM-yyyy");
                            </div>
                            <div class="bg-info bg-opacity-25 rounded rounded-3 text-center ps-1 pe-1" style="min-width:160px;">
                                <strong>Producto: </strong>
                                @Model.Products.SerialNumber&nbsp;@Model.Products.Description
                            </div>
                            <div class="bg-info bg-opacity-25 rounded rounded-3 text-center ps-1 pe-1" style="min-width:160px;">
                                <img src="@DS.ImagesRootPaht@Model.Products.ImageUrl" style="width:120px; height:120px;" />
                            </div>
                        </div>
                    </div>
                    <hr class="text-danger" />
                    <div class="card-body">
                        <div class="container">

                            <table class="table table-responsive table-hover table-bordered">
                                @foreach (var store in Model.TransactionList!.GroupBy(s => s.StoreProduct!.Stores.Name))
                                {
                                    <thead class="table-warning">
                                        <tr>
                                            <th class="text-info" colspan="6">@store.Key</th>
                                            <th class="text-center" colspan="3">Saldo</th>
                                        </tr>
                                        <tr class="bg-dark">
                                            <th class="text-center">Fecha</th>
                                            <th class="text-center">Tipo</th>
                                            <th class="text-center">Detalle</th>
                                            <th class="text-center">Stock Anterior</th>
                                            <th class="text-center">Entrada</th>
                                            <th class="text-center">Salida</th>
                                            <th class="text-center">Stock</th>
                                            <th class="text-center">Costo</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    @foreach (var datos in Model.TransactionList!.Where(d => d.StoreProduct!.Stores.Name == store.Key))
                                    {
                                        <tr>
                                            <td class="text-center">@datos.CommitDate.ToString("dd-MMM-yyyy")</td>
                                            <td class="text-center">@datos.Type</td>
                                            <td class="text-center">@datos.Comments</td>
                                            <td class="text-center">@datos.LastStock</td>
                                            @if (datos.Type == "IN")
                                            {
                                                <td class="text-center">@datos.Quantity</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">--</td>

                                            }
                                            @if (datos.Type == "OUT")
                                            {
                                                <td class="text-center">@datos.Quantity</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">--</td>

                                            }
                                            <td class="text-center">@datos.CurrentStock</td>
                                            <td class="text-center">@String.Format("{0:C}", datos.Cost)</td>
                                            <td class="text-center">@String.Format("{0:C}", datos.CostAmount)</td>
                                        </tr>
                                    }
                                }
                            </table>

                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer>
    </footer>
</body>
</html>


